/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* STYLES */
body {
  font-family: "Inconsolata", monospace; }

label {
  font-size: 32px; }

span {
  margin-top: 15px;
  display: block; }

h1 {
  font-size: 48px;
  text-align: center;
  margin: 15px 0; }

.todoapp {
  background-color: #efefef;
  margin: 0 auto;
  width: 400px;
  padding: 30px; }

.view {
  height: 40px;
  width: 400px; }

.destroy {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 0;
  margin: 14px;
  background-image: url("https://cdn.pixabay.com/photo/2014/03/25/15/19/cross-296507__340.png");
  background-size: 20px 20px;
  background-color: #efefef; }

.toggle {
  -webkit-appearance: none;
  background-color: #d8d8d8;
  height: 22px;
  width: 22px;
  margin-top: 10px;
  padding: 9px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.toggle:checked {
  background-color: #efefef;
  color: #efefef; }

.toggle:checked:after {
  content: '\2714';
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #008225; }
